{% extends 'base.html.twig' %}

{% block title %}Hello ControleurController!{% endblock %}

{% block body %}
<p> Bienvenu ! </p>

<a class="btn btn-primary" href="./entreprises" role="button">Entreprises</a>
<a class="btn btn-primary" href="./formations" role="button">Formations</a>
<a class="btn btn-primary" href="./stages" role="button">Stages</a>
{% endblock %}
